<footer class="footer">
    <div class="container">
      <swiper-container loop="true" space-between="10" slides-per-view="5" >
        <swiper-slide>
          <img src="1.png" alt="">
        </swiper-slide>
        <swiper-slide>
          <img src="2.png" alt="">
        </swiper-slide>
        <swiper-slide>
          <img src="3.png" alt="">
        </swiper-slide>
        <swiper-slide>
          <img src="5.png" alt="">
        </swiper-slide>
        <swiper-slide>
          <img src="6.png" alt="">
        </swiper-slide>
        <swiper-slide>
          <img src="7.png" alt="">
        </swiper-slide>
        
      </swiper-container>
    </div>
    <hr>
    <section class="rights">
        <p class="rights-texts">© 2025 BingeBearTV. All rights reserved.
    </p>
  </section>
  </footer>