<section class="body" itemscope itemtype="https://schema.org/WebPage">

  <!-- HEADER -->
  <header>
    <nav class="navbar">
      <figure class="bingebear-logo" itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <img src="/BingeBear.TV (3).png" alt="bingebear-logo" routerLink="home" loading="lazy">
      </figure>
      <a class="signup-text">
        👋 Fill Out the Trial Form & Get Instant Access – No Effort, Just TV!
      </a>
      <div class="GetAPP-container">
      <button (click)="scrollToSection('section2')" class="GetAPP" aria-label="Try Free">
        <img class="button-icons" src="/lock-open.png" loading="lazy" alt="Unlock icon">
        <span class="button-text-wrapper">
          <span class="button-text">TRY FREE</span>
          <span class="button-text hover-text">TRY FREE</span>
        </span>
      </button>
    </div>
    </nav>
  </header>

  <!-- HERO -->
  <section class="hero">
    <div class="text-container">
      <p class="update-text">⭐ 4.9/5 Based on 10,000+ Reviews – Trusted by Clients Across Ireland</p>
      <h1 itemprop="headline">Save €1000 Yearly<br> with AI-Powered IPTV📡</h1>
      <p itemprop="description">"I stopped paying for 7+ subscriptions each month, and it saved me a fortune. Now, I get all my entertainment in one place for a fraction of the cost." – <span itemprop="author">John D.</span>, <span itemprop="location">Dublin</span></p>
      <div class="button-container">
        <button (click)="scrollToSection('section2')" aria-label="Try Free 24 Hour Access">
          <img class="button-icons" src="/lock-open.png" loading="lazy" alt="Unlock icon">
          <span class="button-text-wrapper">
            <span class="button-text">TRY FREE - 24H ACCESS</span>
            <span class="button-text hover-text">TRY FREE - 24H ACCESS</span>
          </span>
        </button>
        <button (click)="scrollToSection('section1')" aria-label="Start Streaming Now">
          <img class="button-icons" src="/start-video.png" loading="lazy" alt="Play icon">
          <span class="button-text-wrapper">
            <span class="button-text">START STREAMING NOW!</span>
            <span class="button-text hover-text">START STREAMING NOW!</span>
          </span>
        </button>
      </div>
      <p>Start your FREE 24-hour trial – No credit card. No risk.</p>
    </div>
    <figure class="screen-photo" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      <img src="/save money with BINGEBEAR IPTV SERVICE.png" alt="screen photo" loading="lazy">
    </figure>
  </section>

  <!-- MOVIE SWIPER -->
  <section class="movie-swiper-section">
    <figure class="movie-swiper-container">
      <swiper-container 
        #swiper 
        init="false"
        loop="true" 
        autoplay="true" 
        slides-per-view="auto"
        slides-per-group="5" 
        speed="1000" 
        pause-on-mouse-enter="true"
        breakpoints='{
          "320": {"slidesPerView": 2 },
          "480": {"slidesPerView": 2 },
          "768": {"slidesPerView": 3},
          "1024": {"slidesPerView": 5},
          "1600": {"slidesPerView": 5}
        }'>
        <swiper-slide *ngFor="let img of imageList" itemscope itemtype="https://schema.org/Movie">
          <img [src]="img" alt="Movie poster" loading="lazy">
        </swiper-slide>
      </swiper-container>
    </figure>
  </section>
  
  <!-- INFO SECTION -->
  <section class="info-section">
    <article class="info-box" itemscope itemtype="https://schema.org/Service">
      <img class="button-icons" src="/optimized.png" alt="AI-Optimized icon" loading="lazy">
      <h1 itemprop="name">AI-Optimized</h1>
      <p itemprop="description">Buffer-free, personalized streaming.</p>
    </article>
    <article class="info-box" itemscope itemtype="https://schema.org/Service">
      <img class="button-icons" src="/secured payment.png" alt="Secured Payment methods icon" loading="lazy">
      <h1 itemprop="name">Secured Payment Methods</h1>
      <p itemprop="description">Safeguard your data with encrypted access.</p>
    </article>
    <article class="info-box" itemscope itemtype="https://schema.org/Service">
      <img class="button-icons" src="/anonyme.png" alt="VPN Protection icon" loading="lazy">
      <h1 itemprop="name">VPN Protection</h1>
      <p itemprop="description">Safeguard your data with encrypted access.</p>
    </article>
    <article class="info-box" itemscope itemtype="https://schema.org/Service">
      <img class="button-icons" src="/browse.png" alt="Worldwide Channels icon" loading="lazy">
      <h1 itemprop="name">Worldwide Channels</h1>
      <p itemprop="description">Access Irish, US, UK, CA & more.</p>
    </article>
    <article class="info-box" itemscope itemtype="https://schema.org/Service">
      <img class="button-icons" src="/bouton-de-lecture-rond.png" alt="On-Demand Content icon" loading="lazy">
      <h1 itemprop="name">On-Demand Content</h1>
      <p itemprop="description">Binge from a huge updated content library anytime.</p>
    </article>
    <article class="info-box" itemscope itemtype="https://schema.org/Service">
      <img class="button-icons" src="/4k.png" alt="4K & HD Quality icon" loading="lazy">
      <h1 itemprop="name">4K & HD Quality</h1>
      <p itemprop="description">Crystal-clear live channels and on-demand shows.</p>
    </article>
  </section>

  <!-- CHANNEL MAIN CHANNEL -->

   <!-- CHANNEL MAIN CHANNEL -->
   <section class="Channel main-channel" itemscope itemtype="https://schema.org/Service">
    <div class="channels-container main-container">
      <figure class="image-section main-image-section">
        <img src="/movies-photo.png" alt="Streaming Channels" loading="lazy">
        <div class="data-box">
          <div class="data-holder">
            <div class="info-unit">
              <div class="info-bubble">
                <span class="info-number">20+</span>
              </div>
              <span class="info-text">Support Agents</span>
            </div>
            <div class="info-unit">
              <div class="info-bubble">
                <span class="info-number">120K+</span>
              </div>
              <span class="info-text">Titles to Stream</span>
            </div>
            <div class="info-unit">
              <div class="info-bubble">
                <span class="info-number">7+</span>
              </div>
              <span class="info-text">Experience Years</span>
            </div>
          </div>
        </div>
      </figure>
      <div class="subscription-text">
        <figure class="scrolling-text-container">
          <div class="highlight-zone"></div>
          <div class="scrolling-text">
            <span>Disney Plus</span>
            <span>Peacook</span>
            <span>Max</span>
            <span>All Services..</span>
            <span>Netflix</span>
            <span>Prime Video</span>
            <span>Disney Plus</span>
            <span>Peacook</span>
            <span>Max</span>
            <span>All Services..</span>
            <span>Netflix</span>
            <span>Prime Video</span>
          </div>
        </figure>
        <div class="content">
          <p>Stream All Your Favorites: Disney+, Hulu, Sling TV, and More!</p>
          <div class="action-group">
            <button class="manage-subscription" (click)="scrollToSection('section2')" aria-label="Try Free 24 Hour Access">
              <img src="/start-video.png" alt="Play icon" loading="lazy">
              <span class="button-text-wrapper">
                <span class="button-text">TRY FREE – 24H ACCESS</span>
                <span class="button-text hover-text">TRY FREE – 24H ACCESS</span>
              </span>
            </button>
            <button class="manage-subscription"(click)="scrollToSection('section1')" aria-label="Manage Subscription">
              <img class="button-icons" src="/start-video.png" loading="lazy" alt="Play icon">
              <span class="button-text-wrapper">
                <span class="button-text">MANAGE SUBSCRIPTION</span>
                <span class="button-text hover-text">MANAGE SUBSCRIPTION</span>
              </span>
            </button>
          </div>
          <p class="trial-info">Start Your FREE 24-Hour Trial – No Credit Card. No Risk.</p>
        </div>
      </div>
    </div>
  </section>


  <!-- CONTENT SECTION -->
  <section class="content-section">
    <article class="animated-text" itemscope itemtype="https://schema.org/Question">
      <h3 itemprop="name">What You're Thinking (And Why You're Wrong)</h3>
      <p itemprop="acceptedAnswer">"It's too expensive."<br>
        "Will I really get what I paid for?"<br>
        "I can find cheaper services."<br>
        Here's the deal: If you're only comparing price, you're making a huge mistake.</p>
    </article>

    <article class="animated-text" itemscope itemtype="https://schema.org/Question">
      <h3 itemprop="name">Why We're Different:</h3>
      <p itemprop="acceptedAnswer">When you go cheap, you get cheap service. We're not here for that. You're investing in premium quality, top-tier support, and a smooth experience.</p>
    </article>

    <article class="animated-text" itemscope itemtype="https://schema.org/Question">
      <h3 itemprop="name">Instant Setup – No Hassles, No Delays.</h3>
      <p itemprop="acceptedAnswer">We want to earn your trust, not just your money. If you're signing up, it's because you want the best—no compromises.</p>
    </article>

    <article class="animated-text" itemscope itemtype="https://schema.org/Question">
      <h3 itemprop="name">We Don't Sell Crap:</h3>
      <p itemprop="acceptedAnswer">Others might be cheaper, but they come with buffering, poor quality, and zero customer support. That's not us. We're here for a premium experience.</p>
    </article>

    <article class="animated-text" itemscope itemtype="https://schema.org/Question">
      <h3 itemprop="name">💸 Out of Budget? We've Got You Covered! 💸</h3>
      <p itemprop="acceptedAnswer">Struggling to make ends meet? We get it. Pay just €25 today, and we'll activate your full IPTV plan for 12 months. No limits, no hidden fees—everything's included. Once you're back on your feet, pay the rest within 3 weeks. Simple as that. No late fees, no stress—just pure value.</p>
    </article>
  </section>


    <!-- CHANNEL SECONDARY -->
    <section class="Channel secondary-channel" itemscope itemtype="https://schema.org/Service">
      <div class="channels-container secondary-container">
        <figure class="image-section secondary-image-section">
          <img src="/Untitled design.png" alt="Channels Design" loading="lazy">
        </figure>
        <article class="subscription-text">
          <figure class="scrolling-text-container">
            <div class="highlight-zone"></div>
            <div class="scrolling-text">
              <span>Peacock</span>
              <span>Max</span>
              <span>Disney Plus</span>
              <span>Netflix</span>
              <span>Prime</span>
              <span>Hulu</span>
              <span>Peacock</span>
              <span>Max</span>
              <span>Disney Plus</span>
              <span>Netflix</span>
              <span>Prime</span>
              <span>Hulu</span>
            </div>
          </figure>
          <div class="content">
            <p>Experience the best in sports, news, and entertainment with our AI-powered IPTV</p>
            <div class="revolut-subscription-button-container">
              <button class="revolut-subscription-button" (click)="scrollToSection('section1')" aria-label="Manage Subscription">
                <span class="button-text-wrapper">
                  <span class="button-text">Manage Subscription</span>
                  <span class="button-text hover-text">Manage Subscription</span>
                </span>
              </button>
              <span class="offer">40% OFF + Extra Free Months</span>
            </div>
          </div>
        </article>
      </div>
    </section>

    <!-- DEVICE SECTION -->
  <section class="device-section">
    <section class="device-type">
      <div class="button-toggle" role="tablist">
        <button [class.active]="selectedDevice === 'apple'" 
                (click)="selectDevice('apple')"
                role="tab"
                aria-selected="false"
                aria-controls="apple-content">
          Apple Device
        </button>
        <button [class.active]="selectedDevice === 'other'" 
                (click)="selectDevice('other')"
                role="tab"
                aria-selected="false"
                aria-controls="other-content">
          All Other Devices
        </button>
      </div>
    
      <!-- Apple Content -->
      <article class="device-content" 
               *ngIf="selectedDevice === 'apple'"
               id="apple-content"
               role="tabpanel"
               aria-labelledby="apple-tab">
        <div class="text-container">
          <p class="update-text">Apple Setup</p>
          <h1>Seamless Setup on <br>Apple Devices</h1>
          <p>Instantly connect your Apple TV, iPhone, or iPad. Enjoy 13,000+ live channels, movies, and shows in crisp 4K, all powered by AI.</p>
          <div class="button-container">
            <button (click)="scrollToSection('section2')" aria-label="Try Free on Apple Devices">
              <img class="button-icons" src="/lock-open.png" loading="lazy" alt="Unlock icon">
              <span class="button-text-wrapper">
                <span class="button-text">TRY FREE - 24H ACCESS</span>
                <span class="button-text hover-text">TRY FREE - 24H ACCESS</span>
              </span>
            </button>
          </div>
          <img class="trustpilot-image" src="/trustpilot web file converted.png" loading="lazy" alt="Trustpilot logo">
        </div>
        <figure class="image-container">
          <img src="/apple-setup-image.png" loading="lazy" alt="Apple TV Setup">
        </figure>
      </article>

       <!-- Other Devices Content -->
       <article class="device-content" 
       *ngIf="selectedDevice === 'other'"
       id="other-content"
       role="tabpanel"
       aria-labelledby="other-tab">
<div class="text-container">
  <p class="update-text">Universal Setup</p>
  <h1>Automatic Setup on <br>Any Devices</h1>
  <p>Works on Android, Firestick, Roku, Windows, and more—just install the app. Our friendly support will have you streaming in minutes, hassle-free.</p>
  <div class="button-container">
    <button (click)="scrollToSection('section2')" aria-label="Try Free on All Devices">
      <img class="button-icons" src="/lock-open.png" loading="lazy" alt="Unlock icon">
      <span class="button-text-wrapper">
        <span class="button-text">TRY FREE - 24H ACCESS</span>
        <span class="button-text hover-text">TRY FREE - 24H ACCESS</span>
      </span>
    </button>
  </div>
  <img class="trustpilot-image" src="/trustpilot web file converted.png" loading="lazy" alt="Trustpilot logo">
</div>
<figure class="image-container">
  <img src="/other-devices-photo.png" loading="lazy" alt="Android and Firestick Setup">
</figure>
</article>
</section>
</section>

  
   <!-- PRICING SECTION -->
   <section class="pricing-container" id="section1" itemscope itemtype="https://schema.org/Product">
    <div class="pricing-title">
      <h1 itemprop="name">Manage<br><span>Subscription</span></h1>
      <p itemprop="description">Pick the plan that fits your streaming needs.</p>
    </div>

    <div class="button-toggle" role="tablist">
      <button [class.active]="selectedPlanType === 'individual'" 
              (click)="selectPlanType('individual')"
              role="tab"
              aria-selected="true"
              aria-controls="individual-plans">
        Individual
      </button>
      <button [class.active]="selectedPlanType === 'family'" 
              (click)="selectPlanType('family')"
              role="tab"
              aria-selected="false"
              aria-controls="family-plans">
        Family - Save 40%
      </button>
    </div>

    <div class="plans-container">
      <article *ngFor="let plan of plans" 
      class="plan-card" 
      [class.popular]="plan.isPopular"
      itemprop="offers" 
      itemscope 
      itemtype="https://schema.org/Offer">
        <div class="discount">{{ plan.discountText }}</div>
        <div class="plan-header">
          <h3>{{ plan.title }}</h3>
          <div class="price-section">
            <div class="current-price">
              <span class="amount">{{ plan.price }}</span>
              <span class="duration">{{ plan.duration }}</span>
            </div>
            <div class="description">{{ plan.description }}</div>
          </div>
        </div>

        <div class="plan-features">
          <ul>
            <li *ngFor="let feature of plan.features">{{ feature }}</li>
          </ul>
        </div>
        <div class="full-width-divider"></div>

        <button class="cta-button">
          <span class="cta-text" [routerLink]="['/checkout']">{{ plan.ctaText }}</span>
        </button>
      </article>
    </div>

    <div class="pricing-footer">
      <p><img src="information-button.png" loading="lazy" alt="info icon">No hidden fees. Cancel anytime.</p>
      <figure class="payment-photos">
        <img src="/Revolut.png" loading="lazy" alt="Revolut">
        <img src="paypal.png" loading="lazy" alt="Paypal">
        <img src="/USDT.png" loading="lazy" alt="USDT Transfert">
        <img src="/western.png" loading="lazy" alt="WesternUnion">
      </figure>
    </div>
  </section>

  <section class="Access-contact" id="section2" itemscope itemtype="https://schema.org/ContactPage">
    <div class="custom-device-content">
      <div class="custom-text-container">
        <h3 itemprop="headline">Unlock Your FREE 24-Hour <br>Trial Now!</h3>
        <p class="custom-text-description" itemprop="description">No Credit Card. No Hassle. Just Premium Content.</p>
        <div class="steps-container" itemscope itemtype="https://schema.org/ItemList">
          <div class="timeline"></div>
          <div *ngFor="let step of steps" class="step-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/HowToStep">
            <div class="step-number" itemprop="position" [attr.content]="step.number">{{ step.number }}</div>
            <div class="step-content">
              <h3 itemprop="name">{{ step.title }}</h3>
              <p itemprop="text">{{ step.description }}</p>
            </div>
          </div>
        </div>  
      </div>
      <div class="custom-filling-contact" itemprop="potentialAction" itemscope itemtype="https://schema.org/SubscribeAction">
        <form class="custom-form" (ngSubmit)="submitForm()" itemprop="target" itemscope itemtype="https://schema.org/EntryPoint">
          <meta itemprop="url" content="https://yourdomain.com/subscribe">
          <div class="custom-form-wrapper">
            <div class="custom-input-container">
              <div class="custom-input-block">
                <label for="email">Email Address</label>
                <input class="custom-input" id="email" [(ngModel)]="form.email" name="email"
                  placeholder="Your Email Address" required itemprop="email">
              </div>
              <div class="custom-input-block">
                <label for="phone">WhatsApp Number</label>
                <input class="custom-input" id="phone" [(ngModel)]="form.phone" name="phone"
                  placeholder="Enter Whatsapp Number (+353)" required itemprop="telephone">
              </div>
            </div>
            <div class="custom-submit-block">
              <button class="custom-submit" type="submit" itemprop="name">UNLOCK FREE 24H TRIAL</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- REVOLUT SUBSCRIPTION -->
  <section class="revolut-subscription-section" itemscope itemtype="https://schema.org/PaymentService">
    <article class="revolut-subscription-content">
      <div class="revolut-subscription-text-container">
        <figure class="revolut-subscription-icon">
          <img src="/Untitled design (50).png" loading="lazy" alt="Subscription Icon">
        </figure>
        <h1 itemprop="name">Pay Safely🤑</h1>
        <p itemprop="description">No hidden fees, no hassle—just quick, secure transfers.<br> It's the easiest way to pay for your subscription.</p>
        <div class="revolut-subscription-button-container">
          <button class="revolut-subscription-button" (click)="scrollToSection('section1')" aria-label="Manage Payment Subscription">
            <span class="button-text-wrapper">
              <span class="button-text">Manage Subscription</span>
              <span class="button-text hover-text">Manage Subscription</span>
            </span>
          </button>
          <p class="revolut-subscription-tagline">Safe & Trusted</p>
        </div>
      </div>
      <figure class="revolut-subscription-image-container">
        <img src="/Revolut-phone.png" loading="lazy" alt="Subscription Phone">
      </figure>
    </article>
  </section>

  <!-- ACCODIONS -->
  <section class="Accodions">
    <header class="Accodions-header">
      <h3>5 Stars Customer • Support</h3>
      <h1>Frequently Asked Questions (FAQ)</h1>
    </header>
    <div class="accordion">
      <!-- Accordion Item 1 -->
      <article class="accordion-item" [class.active]="isOpen1">
        <button class="accordion-header" (click)="isOpen1 = !isOpen1">
          BingeBear - The Feature of IPTV
          <span class="icon">{{ isOpen1 ? '-' : '+' }}</span>
        </button>
        <div class="accordion-content" [class.open]="isOpen1">
          <p>
            BingeBear is the best IPTV provider in Ireland and the UK, powered by cutting-edge AI technology. We're not
            just another IPTV service—we offer 50,000+ channels and 120k movies and series from around the globe,
            including the USA, UK, Ireland, and more.
          </p>
          <br>
          <p>
            No more buffering. BingeBear IPTV is smooth, fast, and perfect for live games, thanks to our AI-powered
            technology that guarantees no interruptions.
          </p>
          <br>
          <p>
            24/7 Customer support? We've got 20 agents standing by, ready to help with anything you need—whether it's
            setting up your IPTV box, troubleshooting, or answering your questions.
          </p>
          <br>
          <p>
            Want to test it out? Get started with our IPTV free trial and experience why we're the best IPTV and IPTV
            service in Ireland and the UK.
          </p>
          <br>
          <p>
            <strong>Live TV</strong>: Watch sports, news, movies, and international channels from around the world.
            Whether you're in IPTV Ireland, the IPTV UK, or anywhere else, we've got you covered with the best IPTV
            experience.
          </p>
          <br>
          <p>
            <strong>Video on Demand (VOD)</strong>: Enjoy Hollywood, Bollywood, and Netflix-style content whenever you
            want. No waiting—just click and play with our IPTV service.
          </p>
          <br>
          <p>
            <strong>Catch-Up & Time-Shifted TV</strong>: Missed a show? No problem. With our IPTV subscription, you can
            watch anytime, even if you've missed the live broadcast.
          </p>
          <br>
          <p>
            <strong>Worldwide Coverage</strong>: IPTV Ireland, IPTV UK, or anywhere you're located, BingeBear IPTV works
            without any geo-restrictions. Watch best IPTV anywhere with the best IPTV provider.
          </p>
        </div>
      </article>
      <hr>

      <!-- Accordion Item 2 -->
      <article class="accordion-item" [class.active]="isOpen2">

        <button class="accordion-header" (click)="isOpen2 = !isOpen2">
          How Does IPTV Work?
          <span class="icon">{{ isOpen2 ? '-' : '+' }}</span>
        </button>
        <div class="accordion-content" [class.open]="isOpen2">
          <p>
            <strong>IPTV (Internet Protocol Television)</strong> delivers television content over the internet, allowing
            you to stream your favorite channels and on-demand content without relying on outdated cable or satellite
            connections.
          </p>
          <br>
          <ol>
            <li>Get an IPTV subscription with BingeBear IPTV.</li>
            <li>
              Contact one of our agents via <a>WhatsApp</a>,<strong> email</strong>, or right here on our website.
              They'll guide you through the setup process and get <strong>BingeBear IPTV</strong> up and running on your
              device—<strong>no hassle, no stress</strong>.
            </li>
            <li>
              Tadah! It's working. Enjoy watching on any device. If you need assistance, our agents are ready to help
              anytime. Contact them here:
              <ul>
                <br>
                <li><a><strong>WhatsApp</strong></a>: +212 636-863840</li>
                <li><strong>Email</strong>: support&#64;bingebear.tv</li>
              </ul>
            </li>
          </ol>
          <br>
          <p>
            Whether you're in IPTV Ireland, looking for the best IPTV subscription, or simply after a reliable IPTV
            service, BingeBear IPTV gives you the best IPTV experience on the market. It's TV, but smarter, faster, and
            better.
          </p>
        </div>
      </article>
      <hr>

      <!-- Accordion Item 3 -->
      <article class="accordion-item" [class.active]="isOpen3">
        <button class="accordion-header" (click)="isOpen3 = !isOpen3">
          Pricing: The Best Deal For Your IPTV Needs
          <span class="icon">{{ isOpen3 ? '-' : '+' }}</span>
        </button>
        <div class="accordion-content" [class.open]="isOpen3">
          <p>
            Get the best IPTV experience with BingeBear IPTV! We offer the best prices and best IPTV subscription plans
            designed to fit your needs. Buy IPTV today and enjoy HD & 4K content with no hidden fees.
          </p>
          <br>
          <a>Basic Plan €69/year (12 months + 2 months free = 14 months total)</a>
          <p>Perfect for trying out the service at the best price.</p>
          <br>
          <a>Popular Plan: €118 for 2 years (24 months + 4 months free = 28 months total)</a>
          <p>A great option for long-term savings.</p>
          <br>
          <a>Premium Plan: €169 for 3 years (36 months + 6 months free = 42 months total)</a>
          <p>The best value for dedicated IPTV users.</p>
          <br>
          <a>Lifetime Plan: €349 one-time payment</a>
          <p>The ultimate deal for those who want to enjoy IPTV forever.</p>
          <br>
          <a>Grab your IPTV subscription now </a>
          <p>and start watching with no limits. Get the best IPTV service-fast, reliable, and no BS.</p>
        </div>
      </article>
      <hr>

      <!-- Accordion Item 4 -->
      <article class="accordion-item" [class.active]="isOpen4">
        <button class="accordion-header" (click)="isOpen4 = !isOpen4">
          Do you offer a free trial?
          <span class="icon">{{ isOpen4 ? '-' : '+' }}</span>
        </button>
        <div class="accordion-content" [class.open]="isOpen4">
          <p>
            Absolutely! Get a 24-hour free IPTV trial with no credit card needed. Experience free IPTV and start
            streaming immediately.
          </p>
          <br>
          <p>
            We will set up IPTV easily with apps like MYTVOnline2, Tivimate, or VuPlayer. You can even use Xtream Codes
            or IboProPlayer to get started quickly.
          </p>
          <br>
          <p>
            Click on the <a>"TRY FREE – 24H ACCESS"</a> button on our website.
          </p>
          <br>
          <p>
            <strong>Contact us via email,<a> WhatsApp</a>, or right here on the website</strong>, and we'll get your
            <strong>IPTV trial set up, no hassle</strong>.
          </p>
          <br>
          <p>
            Enjoy your free trial today!
          </p>
        </div>
      </article>
      <hr>

      <!-- Accordion Item 5 -->
      <article class="accordion-item" [class.active]="isOpen5">
        <button class="accordion-header" (click)="isOpen5 = !isOpen5">
          Are there any hidden fees?
          <span class="icon">{{ isOpen5 ? '-' : '+' }}</span>
        </button>
        <div class="accordion-content" [class.open]="isOpen5">
          <p>
            No, with BingeBear IPTV, our pricing is 100% transparent—no hidden fees. The subscription cost covers all
            features and services, giving you a safe IPTV experience you can trust.
          </p>
          <br>
          <p>
            We offer you legal IPTV, trusted IPTV, and good IPTV quality without the hassle. Enjoy a seamless,
            worry-free streaming experience every time.
          </p>
        </div>
      </article>
      <hr>

      <!-- Accordion Item 6 -->
      <article class="accordion-item" [class.active]="isOpen6">
        <button class="accordion-header" (click)="isOpen6 = !isOpen6">
          Compatibility & Devices - Stream Anytime, Anywhere
          <span class="icon">{{ isOpen6 ? '-' : '+' }}</span>
        </button>
        <div class="accordion-content" [class.open]="isOpen6">
          <p>
            BingeBear IPTV works seamlessly across a wide range of devices, so you can enjoy your favorite content with
            no interruptions. Here are just a few of the devices we support:
          </p>
          <p><strong>Apple Devices</strong>: Apple TV, iPhone, iPad (iOS system)</p>
          <br>
          <p><strong>Android Devices</strong>: Android Box, Smartphones, Tablets, Android TV</p>
          <br>
          <p><strong>Streaming Devices</strong>: Amazon Firestick, Roku, and other Fire TV devices</p>
          <br>
          <p><strong>Computers & Laptops</strong>: Windows & Mac</p>
          <br>
          <p><strong>MAG Boxes</strong>: e.g., MAG 524, MAG 524W3</p>
          <br>
          <p><strong>Gaming Consoles</strong>: PlayStation, Xbox</p>
          <br>
          <p><strong>Smart TVs</strong>: Compatible with all major Smart TVs like Samsung, LG, Sony, and more</p>
          <br>
          <p>
            No matter your device, BingeBear IPTV makes it easy to stream high-quality content wherever you are. Start
            watching today on your preferred device!
          </p>
        </div>
      </article>
      <hr>

      <!-- Accordion Item 7 -->
      <article class="accordion-item" [class.active]="isOpen7">
        <button class="accordion-header" (click)="isOpen7 = !isOpen7">
          How can I renew my IPTV subscription?
          <span class="icon">{{ isOpen7 ? '-' : '+' }}</span>
        </button>
        <div class="accordion-content" [class.open]="isOpen7">
          <p>
            It's simple. Before your IPTV subscription expires, you'll get a notification with easy-to-follow renewal
            instructions. No automatic renewals here—you stay in control.
          </p>
          <br>
          <p>
            If you're loving our IPTV service and want to keep streaming the best IPTV, just follow the steps. If not,
            feel free to cancel—the choice is yours.
          </p>
        </div>
      </article>
      <hr>

      <!-- Accordion Item 8 -->
      <article class="accordion-item" [class.active]="isOpen8">
        <button class="accordion-header" (click)="isOpen8 = !isOpen8">
          Which app should I use for BingeBear IPTV?
          <span class="icon">{{ isOpen8 ? '-' : '+' }}</span>
        </button>
        <div class="accordion-content" [class.open]="isOpen8">
          <p>
            BingeBear IPTV works seamlessly with all IPTV player apps, so you can enjoy IPTV Ireland content without
            hassle. Some of the top options include: ( Iboproplayer highly recommended )
          </p>
          <br>
          <ul>
            <li><strong>IBO PRO PLAYER</strong></li>
            <li><strong>BOB PLAYER</strong></li>
            <li><strong>VU PLAYER</strong></li>
            <li><strong>IPTV SMARTERS</strong></li>
            <li><strong>MYTVONLINE 2</strong></li>
            <li><strong>TIVIMATE</strong></li>
            <li><strong>SMARTONE</strong></li>
            <li><strong>SMART STB</strong></li>
            <li><strong>XCIPTV</strong></li>
          </ul>
          <br>
          <p>etc...</p>
          <br>
          <p>
            Pick the one that suits your device and get started with your IPTV subscription. Whether you're streaming
            from your phone, smart TV, or set-top box, we've got you covered.
          </p>
        </div>
      </article>
      <hr>

      <!-- Accordion Item 9 -->
      <article class="accordion-item" [class.active]="isOpen9">
        <button class="accordion-header" (click)="isOpen9 = !isOpen9">
          Do you provide Xtream Codes or M3U URL?
          <span class="icon">{{ isOpen9 ? '-' : '+' }}</span>
        </button>
        <div class="accordion-content" [class.open]="isOpen9">
          <p>
            Absolutely! When you purchase your IPTV subscription, we provide all login details to get you started,
            including:
          </p>
          <br>
          <ul>
            <li><strong>Xtream Codes</strong>: Playlist Name, Username, Password, URL + Port</li>
            <li><strong>M3U URL</strong></li>
            <li><strong>EPG URL</strong></li>
          </ul>
          <br>
          <p>
            This ensures full compatibility with IBO PRO PLAYER, Tivimate, myTVonline2, IPTV Smarters, IPTV Smarters
            Pro, or any other IPTV app you prefer, so you can start streaming without any hassle.
          </p>
        </div>
      </article>
      <hr>

      <!-- Accordion Item 10 -->
      <article class="accordion-item" [class.active]="isOpen10">
        <button class="accordion-header" (click)="isOpen10 = !isOpen10">
          Can I use one account on multiple devices?
          <span class="icon">{{ isOpen10 ? '-' : '+' }}</span>
        </button>
        <div class="accordion-content" [class.open]="isOpen10">
          <p>
            Yes, you can use our accounts on two devices, but not simultaneously.
          </p>
          <br>
          <p>
            For multi-device streaming, you can choose a plan that supports it, such as:
          </p>
          <br>
          <p><a>Popular Plan</a>/ <a>Premium Plan</a>/<a>Lifetime Plan</a>-These offer flexibility:</p>
          <br>
          <p>Use one account for 28 months and watch on two TVs (but not at the same time).</p>
          <br>
          <p>OR <strong>Split the subscription duration into 2 or 3 parts</strong> and watch on multiple devices at
            once.</p>
          <br>
          <p>
            This way, you can customize your plan to match your viewing needs!
          </p>
        </div>
      </article>
      <hr>

      <!-- Accordion Item 11 -->
      <article class="accordion-item" [class.active]="isOpen11">
        <button class="accordion-header" (click)="isOpen11 = !isOpen11">
          What is your refund policy?
          <span class="icon">{{ isOpen11 ? '-' : '+' }}</span>
        </button>
        <div class="accordion-content" [class.open]="isOpen11">
          <p>
            We offer a <strong>120-day money-back guarantee</strong>. If you're not satisfied with your <strong>IPTV
              subscription</strong> within this period, you get a <strong>full refund—no questions asked.</strong>
          </p>
          <br>
          <p>
            That's how we back up our IPTV service and give you the <strong>IPTV guaranteed satisfaction</strong> you
            deserve.
          </p>
        </div>
      </article>
      <hr>

      <!-- Accordion Item 12 -->
      <article class="accordion-item" [class.active]="isOpen12">
        <button class="accordion-header" (click)="isOpen12 = !isOpen12">
          What is the EPG Program Guide?
          <span class="icon">{{ isOpen12 ? '-' : '+' }}</span>
        </button>
        <div class="accordion-content" [class.open]="isOpen12">
          <p>
            <strong>EPG = Electronic Program Guide</strong>. It's a TV schedule feature that lets you:
          </p>
          <br>
          <ul>
            <li><strong>See what's playing now & next</strong></li>
            <li><strong>Browse upcoming shows & events</strong></li>
            <li><strong>Plan your entertainment with ease</strong></li>
          </ul>
          <br>
          <p>
            It's like your old TV guide—but <strong>smarter.</strong>
          </p>
        </div>
      </article>
      <hr>

      <!-- Accordion Item 13 -->
      <article class="accordion-item" [class.active]="isOpen13">
        <button class="accordion-header" (click)="isOpen13 = !isOpen13">
          What is the Catch-Up Feature?
          <span class="icon">{{ isOpen13 ? '-' : '+' }}</span>
        </button>
        <div class="accordion-content" [class.open]="isOpen13">
          <p>
            <strong>Missed a live show? No problem.</strong>
          </p>
          <br>
          <p>
            Our Catch-Up TV feature lets you rewind and watch past programs on selected channels.
          </p>
          <br>
          <p>Go back <strong>up to 7 days</strong></p>
          <br>
          <p>Works on major networks & sports channels</p>
          <br>
          <p>
            Never miss a moment again.
          </p>
        </div>
      </article>
      <hr>

      <!-- Accordion Item 14 -->
      <article class="accordion-item" [class.active]="isOpen14">
        <button class="accordion-header" (click)="isOpen14 = !isOpen14">
          What customer support options are available?
          <span class="icon">{{ isOpen14 ? '-' : '+' }}</span>
        </button>
        <div class="accordion-content" [class.open]="isOpen14">
          <p>
            We provide <strong>24/7 customer support</strong> through our expert team of over <strong>20
              professionals</strong>. Whether you need help with your <strong>IPTV setup</strong> or have any technical
            issues, we've got you covered <strong>anytime, anywhere.</strong>
          </p>
        </div>
      </article>
      <hr>

      <!-- Accordion Item 15 -->
      <article class="accordion-item" [class.active]="isOpen15">
        <button class="accordion-header" (click)="isOpen15 = !isOpen15">
          How can I contact customer support?
          <span class="icon">{{ isOpen14 ? '-' : '+' }}</span>
        </button>
        <div class="accordion-content" [class.open]="isOpen15">
          <p>Simple. You have <strong>3 options:</strong>
          </p>
          <br>
          <ul>
            <li><strong>WhatsApp: Quick response team</strong></li>
            <li><strong>Email: (Support team available 24/7)</strong></li>
            <li><strong>Live Chat: Directly from our website</strong></li>
          </ul>
          <br>
          <p>We believe in REAL customer service – because you deserve better.</p>
          <br>
          <p><strong>that's why 20 agents it's ready to support you 24/7</strong></p>
        </div>
      </article>
      <hr>

      <!-- Accordion Item 16 -->
      <article class="accordion-item" [class.active]="isOpen16">
        <button class="accordion-header" (click)="isOpen16 = !isOpen16">
          WHY BINGEBEAR IPTV IS #1
          <span class="icon">{{ isOpen16 ? '-' : '+' }}</span>
        </button>
        <div class="accordion-content" [class.open]="isOpen16">
          <p>
            <strong>You have two choices:</strong>
          </p>
          <br>
          <ul>
            <li><strong>Option 1</strong>: <u>Keep wasting money on unreliable IPTV</u> providers that buffer, crash,
              and ruin your experience.</li>
            <li><strong>Option 2</strong>: Switch to <u>BingeBear IPTV and stream like a king</u>—with no limits, no
              stress, and no BS.</li>
          </ul>
          <br>
          <p>
            Want the best IPTV service? THIS IS IT.
          </p>
          <br>
          <p>
            Get started now and experience the best IPTV in Ireland and the UK! Don't settle for a <strong>dodgy box or
              unreliable streaming anymore.</strong>
          </p>
          <br>
          <p>
            <strong>Claim your subscription now—exclusive private servers, act fast!</strong>
          </p>
        </div>
      </article>
      <hr>
    </div>
  </section>
  <section class="testimonials">
    <div class="testimonials-header">
      <div class="left-container">
        <span>★ </span> 
        <h3>Testimonials</h3>
      </div>      
      <p>Wondering why so many people love our IPTV service? Read real stories from our customers</p>
    </div>
    <h1>Happy Client Experiences</h1>
    <div class="testimonial-grid">
      <!-- Testimonial 1 -->
      <article class="testimonial" 
      itemprop="review" 
      itemscope 
      itemtype="https://schema.org/Review">
              <p class="comment" itemprop="reviewBody">
          Just got this IPTV last week & so far so good, was worried about buffering but none so far. I'm well
          impressed,
          cheers!
        </p>
        <div class="rating" itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
          ★ ★ ★ ★ ★ <meta itemprop="ratingValue" content="5">
        </div>
        <p class="client" itemprop="author">Sean M</p>
        <span class="location" itemprop="location">Ireland</span>
        </article>

      <!-- Testimonial 2 -->
      <article class="testimonial" 
      itemprop="review" 
      itemscope 
      itemtype="https://schema.org/Review">
        <p class="comment" itemprop="reviewBody">
    Channel selection is savage, I was a bit lost at first but got the hang of it quick. Won't be leaving the
          couch
          any time soon, haha!
        </p>
        <div class="rating" itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
          ★ ★ ★ ★ ★ <meta itemprop="ratingValue" content="5">
        </div>
        <p class="client" itemprop="author">
          Conor B</p>
        <span class="location" itemprop="location">Ireland</span>

        </article>

      <!-- Testimonial 3 -->
      <article class="testimonial" 
      itemprop="review" 
      itemscope 
      itemtype="https://schema.org/Review">
      <p class="comment" itemprop="reviewBody">
        Fed up paying Sky a fortune, tried this & sure I won't be going back. Everything I watch plus loads more, no
          regrets!
        </p>
        <div class="rating" itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
          ★ ★ ★ ★ ★ <meta itemprop="ratingValue" content="5">
        </div>
        <p class="client" itemprop="author">
          Mick O</p>
        <span class="location" itemprop="location">Ireland</span>

        </article>
      <!-- Testimonial 4 -->
      <article class="testimonial" 
      itemprop="review" 
      itemscope 
      itemtype="https://schema.org/Review">     
         <p class="comment" itemprop="reviewBody">
          im no tech wiz but setup was dead easy, took about 5 mins & i was off watchin my shows, grand job
        </p>
        <div class="rating"  itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
          ★ ★ ★ ★ ★<meta itemprop="ratingValue" content="5">
        </div>
        <p class="client" itemprop="author">
          John Davies</p>
        <span class="location" itemprop="location">Ireland</span>

        </article>

      <!-- Testimonial 5 -->
      <article class="testimonial" 
      itemprop="review" 
      itemscope 
      itemtype="https://schema.org/Review"> 
              <p class="comment" itemprop="reviewBody">
          my kids are mad for the cartoon channels, bless em, i finally get some peace in the evenings, happy days </p>
        <div class="rating"  itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
          ★ ★ ★ ★ ★<meta itemprop="ratingValue" content="5">
        </div>
        <p class="client" itemprop="author">
          Orla R</p>
        <span class="location" itemprop="location">Ireland</span>

        </article>

      <!-- Testimonial 6 -->
      <article class="testimonial" 
      itemprop="review" 
      itemscope 
      itemtype="https://schema.org/Review">
              <p class="comment" itemprop="reviewBody">
          i can watch the gaa on my phone, never had better streaming so chuffed tbh, worth every penny </p>
        <div class="rating"  itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
          ★ ★ ★ ★ ★<meta itemprop="ratingValue" content="5">
        </div>
        <p class="client" itemprop="author" >
          Joseph N</p>
        <span class="location" itemprop="location">Austra</span>

        </article>
      <!-- Testimonial 7 -->
      <article class="testimonial" 
      itemprop="review" 
      itemscope 
      itemtype="https://schema.org/Review">     
         <p class="comment" itemprop="reviewBody">
          the price is fair enough, i used to pay double for half the channels, definitely recommend givin it a lash if
          ya
          love sports </p>
        <div class="rating" itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating" >
          ★ ★ ★ ★ ★<meta itemprop="ratingValue" content="5">
        </div>
        <p class="client" itemprop="author">
          Clodagh M</p>
        <span class="location" itemprop="location">Ireland</span>

        </article>

      <!-- Testimonial 8 -->
      <article class="testimonial" 
      itemprop="review" 
      itemscope 
      itemtype="https://schema.org/Review">
              <p class="comment" itemprop="reviewBody">
          honestly, i was a bit sceptical at first but it's turned out class. my husband watches footy all day and i'm
          hooked on the movies section, so we're both happy out</p>
        <div class="rating" itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating" >
          ★ ★ ★ ★ ★<meta itemprop="ratingValue" content="5">
        </div>
        <p class="client" itemprop="author">
          Paddy</p>
        <span class="location" itemprop="location" >Ireland</span>

        </article>

      <!-- Testimonial 9 -->
      <article class="testimonial" 
      itemprop="review" 
      itemscope 
      itemtype="https://schema.org/Review">        <p class="comment" itemprop="reviewBody">
          customer service is sound, i had a small issue with my account and they sorted it quick. real people who
          actually help ya, not some robot</p>
        <div class="rating" itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating" >
          ★ ★ ★ ★ ★<meta itemprop="ratingValue" content="5">

        </div>
        <p class="client" itemprop="author">
          Robert R</p>
        <span class="location" itemprop="location">Ireland</span>

        </article>
    </div>
  </section>

  <!-- FOOTER -->
  <footer class="footer" itemscope itemtype="https://schema.org/Organization">
    <h2 itemprop="name">Working With the Best in IPTV</h2>
    <figure class="container">
      <swiper-container loop="true" space-between="30" slides-per-view="5" autoplay="true">
        <swiper-slide><img src="1.png" loading="lazy" alt="IPTV Partner Logo"></swiper-slide>
        <swiper-slide><img src="2.png" loading="lazy" alt="IPTV Partner Logo"></swiper-slide>
        <swiper-slide><img src="3.png" loading="lazy" alt="IPTV Partner Logo"></swiper-slide>
        <swiper-slide><img src="5.png" loading="lazy" alt="IPTV Partner Logo"></swiper-slide>
        <swiper-slide><img src="6.png" loading="lazy" alt="IPTV Partner Logo"></swiper-slide>
        <swiper-slide><img src="7.png" loading="lazy" alt="IPTV Partner Logo"></swiper-slide>
      </swiper-container>
    </figure>
    <hr>
    <section class="rights">
      <p class="rights-texts">© 2025 <span itemprop="legalName">BingeBearTV</span>. All rights reserved.</p>
    </section>
  </footer>
</section>