/* Movie Swiper Section */
.movie-swiper-section {
  background: linear-gradient(to bottom right, #ffffff, #171717 100%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3), 0 0 15px rgba(228, 48, 48, 0.6);
  padding: 0; /* Removed padding to make swiper fill the width */
  margin: 0; /* Default padding for larger screens */

}

/* Movie Swiper Container */
.movie-swiper-container {
  max-width: 100%;
  margin: 0; /* No margins for the container */
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Ensure swiper slides are aligned side by side */
}

/* Swiper Container Scoped to Movie Swiper */
.movie-swiper-section swiper-container {
  width: 100%;
  height: auto;
}

/* Swiper Slides Scoped to Movie Swiper */
.movie-swiper-section swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Remove any margins between slides */

}

/* Movie Poster Image Scoped to Movie Swiper */
.movie-swiper-section swiper-slide img {
  width: 100%;
  height: auto;
  max-width: none;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

/* Hover Effect Scoped to Movie Swiper */
.movie-swiper-section swiper-slide img:hover {
  transform: scale(1.05);
}

/* Responsive Styles */

/* Mobile Devices (max-width: 480px) */
@media (max-width: 480px) {
  .movie-swiper-section {
    padding: 0;
  }

  .movie-swiper-container {
    padding: 0;
  }

  .movie-swiper-section swiper-slide img {
    max-width: 200px; /* Adjust the image size for smaller screens */
  }

  /* Swiper layout for smaller screens: display one slide at a time */
  .movie-swiper-section swiper-container {
    display: flex;
    justify-content: center;
  }
}

/* Tablets (max-width: 768px) */
@media (max-width: 768px) {
  .movie-swiper-section {
    padding:0;
  }

  .movie-swiper-container {
    padding: 0;
  }

  .movie-swiper-section swiper-slide img {
    max-width: 250px; /* Adjust the image size for tablets */
  }

  /* Swiper layout for tablets: display two slides at a time */
  .movie-swiper-section swiper-container {
    display: flex;
    justify-content: space-around;
  }
}

/* Desktop (min-width: 1024px) */
@media (min-width: 1024px) {
  .movie-swiper-section {
    padding: 0;
  }

  .movie-swiper-container {
    padding: 0;
  }

  .movie-swiper-section swiper-slide img {
    max-width: 300px; /* Default size for larger screens */
  }

  /* Swiper layout for desktops: display four slides at a time */
  .movie-swiper-section swiper-container {
    display: flex;
    justify-content: space-between;
  }
}

/* Large Screens (min-width: 1600px) */
@media (min-width: 1600px) {
  .movie-swiper-section {
    padding: 0;
  }

  .movie-swiper-container {
    padding: 0;
  }

  .movie-swiper-section swiper-slide img {
    max-width: 350px; /* Adjust the image size for larger screens */
  }
}
