<section class="movie-swiper-section">
    <div class="movie-swiper-container">
      <swiper-container 
        #swiper 
        init="false" 
        autoplay="true" 
        slides-per-view="5" 
        slides-per-group="5" 
        speed="1000" 
        loop="true"
        pause-on-mouse-enter="true">
    
        <swiper-slide *ngFor="let img of imageList">
          <img [src]="img" alt="Movie poster" loading="lazy">
        </swiper-slide>
    
      </swiper-container>
    </div>
  </section>
  